<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Country Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body >
        
    <nav class="navbar navbar-dark fixed-top  bg-dark">
        <a class="navbar-brand" style="color: #fff;">Home</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Countries directory</h1>
            <p class="lead">This is a minimal directory for countries, displaying some key infos of displayed countries.</p>
        </div>
    </div>
     
    <div class="container">
        <% if(data !== null){ %>
            <div class="row">
                <% data.forEach(function(country){ %>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="<%= country.flag %>" class="card-img-top"  alt="country flag">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Name</strong> <span><%= country.name %> (<%= country.alpha2Code %>)</span> </li>
                                <li class="list-group-item"><strong>Capital</strong> <span><%= country.capital %></span></li>
                                <li class="list-group-item"><strong>Region</strong> <span><%= country.region %></span></li>
                                <li class="list-group-item"><strong>Population</strong> <span><%= country.population %></span></li>
                                <li class="list-group-item"><a href="<%= country.name %>" class="btn btn-info">KNOW MORE</a></li>
                            </ul>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>    
    
        <% if(error !== null){ %>
            <p><%= error %></p>
        <% } %>
    </div>
    
   
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>