<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Country Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body >
    
    <% include ./partials/header %>

    <div class="album py-5 bg-light">
        <div class="container">

            <% if(data !== null){ %>
                <div class="row">
                    <% data.forEach(function(country){ %>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="<%= country.flag %>" class="card-img-top"  alt="country flag">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><strong>Name</strong> <span><%= (country.name).substring(0, 20) %> (<%= country.alpha2Code %>)</span> </li>
                                            <li class="list-group-item"><strong>Capital</strong> <span><%= country.capital %></span></li>
                                            <li class="list-group-item"><strong>Region</strong> <span><%= country.region %></span></li>
                                            <li class="list-group-item"><strong>Population</strong> <span><%= country.population %></span></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="<%= country.name %>" class="btn btn-sm btn-outline-secondary">KNOW MORE</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>    

            <% if(error !== null){ %>
                <p><%= error %></p>
            <% } %>
        </div>                      
    </div>

    
    
    <% include ./partials/footer %>
   
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>